<div class="card">
    <div class="card-header">
        <strong class="card-title">Nouveau</strong>
    </div>
    <div class="card-body">
        <form action="https://hospitalnew.bdtask.com/demo7/patient/document_form" class="form-inner" id="mailForm"
            enctype="multipart/form-data" method="post" accept-charset="utf-8">
            <input type="hidden" name="csrf_stream_token" value="2f8edb916b1acaf6aa9af44ca4c08f57">

            <div class="form-group row">
                <label for="patient_id" class="col-xs-3 col-form-label">Patient ID <i class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <input name="patient_id" type="text" class="form-control" id="patient_id" placeholder="Patient ID"
                        value="">
                </div>
            </div>

            <div class="form-group row">
                <label for="attach_file" class="col-xs-3 col-form-label">Attach File <i
                        class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <input type="file" name="attach_file" id="attach_file">

                    <input type="hidden" name="hidden_attach_file" id="hidden_attach_file" value="">

                    <p id="upload-progress" class="hide alert"></p>
                </div>
            </div>

            <div class="form-group row">
                <label for="doctor_id" class="col-xs-3 col-form-label">Doctor Name</label>
                <div class="col-xs-9">
                    <select name="doctor_id" class="form-control select2-hidden-accessible" id="doctor_id" tabindex="-1"
                        aria-hidden="true">
                        <option value="" selected="selected">Select Doctor</option>
                        <option value="3">Willam Carlos</option>
                        <option value="4">Adward Chapman</option>
                        <option value="14">Dr Aikenhead</option>
                        <option value="15">Dr Truluck</option>
                        <option value="16"> Dr Bonebrake</option>
                        <option value="17">David willy</option>
                        <option value="18">Marry lan</option>
                        <option value="19">Harlin willy </option>
                        <option value="20">Adward Henry</option>
                        <option value="21">Alan Walker</option>
                        <option value="22">John Doye</option>
                        <option value="25">Paul Doctor</option>
                        <option value="26">Salman Mehboob</option>
                        <option value="27">rajesh r</option>
                        <option value="28">Hokky Kurniawan</option>
                        <option value="30">xyz jkl</option>
                        <option value="31">dr1 dr11</option>
                        <option value="32">David Capella</option>
                        <option value="33">demoDoctor demo</option>
                        <option value="34">Mohamed Abdi Ali</option>
                        <option value="35">ali mohammed</option>
                        <option value="36">doc tor</option>
                        <option value="37">rajkumar nikalje</option>
                        <option value="38">rajkumar nikalje</option>
                        <option value="40">jay jay</option>
                        <option value="41">Dhara Patel</option>
                        <option value="42">asds saassa</option>
                        <option value="43">Kanna Pidugu</option>
                        <option value="44">"&gt;&lt;svg/onload=alert(1)&gt; "&gt;&lt;svg/onload=alert(1)&gt;</option>
                        <option value="45">Tari Aslam</option>
                        <option value="46">Raghavendra Acharya</option>
                        <option value="48">Jennifer Smith</option>
                        <option value="49">pilates hocası1 plts</option>
                        <option value="51">ABCD ABCD</option>
                        <option value="53">Dre Rapper</option>
                        <option value="54"> Ashis Karmakar</option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr"
                        style="width: 552.75px;"><span class="selection"><span
                                class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                                aria-expanded="false" tabindex="0" aria-labelledby="select2-doctor_id-container"><span
                                    class="select2-selection__rendered" id="select2-doctor_id-container"><span
                                        class="select2-selection__placeholder">Select option</span></span><span
                                    class="select2-selection__arrow" role="presentation"><b
                                        role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                            aria-hidden="true"></span></span>
                    <div id="available_days"></div>
                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-xs-3 col-form-label">Description</label>
                <div class="col-xs-9">
                    <div id="mceu_17" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1"
                        role="application" style="visibility: hidden; border-width: 1px;">
                        <div id="mceu_17-body" class="mce-container-body mce-stack-layout">
                            <div id="mceu_18"
                                class="mce-container mce-menubar mce-toolbar mce-stack-layout-item mce-first"
                                role="menubar" style="border-width: 0px 0px 1px;">
                                <div id="mceu_18-body" class="mce-container-body mce-flow-layout">
                                    <div id="mceu_19"
                                        class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-first mce-btn-has-text"
                                        tabindex="-1" aria-labelledby="mceu_19" role="menuitem" aria-haspopup="true">
                                        <button id="mceu_19-open" role="presentation" type="button" tabindex="-1"><span
                                                class="mce-txt">File</span> <i class="mce-caret"></i></button></div>
                                    <div id="mceu_20"
                                        class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text"
                                        tabindex="-1" aria-labelledby="mceu_20" role="menuitem" aria-haspopup="true">
                                        <button id="mceu_20-open" role="presentation" type="button" tabindex="-1"><span
                                                class="mce-txt">Edit</span> <i class="mce-caret"></i></button></div>
                                    <div id="mceu_21"
                                        class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text"
                                        tabindex="-1" aria-labelledby="mceu_21" role="menuitem" aria-haspopup="true">
                                        <button id="mceu_21-open" role="presentation" type="button" tabindex="-1"><span
                                                class="mce-txt">Insert</span> <i class="mce-caret"></i></button></div>
                                    <div id="mceu_22"
                                        class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text"
                                        tabindex="-1" aria-labelledby="mceu_22" role="menuitem" aria-haspopup="true">
                                        <button id="mceu_22-open" role="presentation" type="button" tabindex="-1"><span
                                                class="mce-txt">View</span> <i class="mce-caret"></i></button></div>
                                    <div id="mceu_23"
                                        class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text"
                                        tabindex="-1" aria-labelledby="mceu_23" role="menuitem" aria-haspopup="true">
                                        <button id="mceu_23-open" role="presentation" type="button" tabindex="-1"><span
                                                class="mce-txt">Format</span> <i class="mce-caret"></i></button></div>
                                    <div id="mceu_24"
                                        class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-last mce-btn-has-text"
                                        tabindex="-1" aria-labelledby="mceu_24" role="menuitem" aria-haspopup="true">
                                        <button id="mceu_24-open" role="presentation" type="button" tabindex="-1"><span
                                                class="mce-txt">Table</span> <i class="mce-caret"></i></button></div>
                                </div>
                            </div>
                            <div id="mceu_25" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item"
                                hidefocus="1" tabindex="-1" role="group">
                                <div id="mceu_25-body" class="mce-container-body mce-stack-layout">
                                    <div id="mceu_26"
                                        class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last"
                                        role="toolbar">
                                        <div id="mceu_26-body" class="mce-container-body mce-flow-layout">
                                            <div id="mceu_27"
                                                class="mce-container mce-flow-layout-item mce-first mce-btn-group"
                                                role="group">
                                                <div id="mceu_27-body">
                                                    <div id="mceu_0" class="mce-widget mce-btn mce-first mce-disabled"
                                                        tabindex="-1" aria-labelledby="mceu_0" role="button"
                                                        aria-label="Undo" aria-disabled="true"><button
                                                            role="presentation" type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-undo"></i></button></div>
                                                    <div id="mceu_1" class="mce-widget mce-btn mce-last mce-disabled"
                                                        tabindex="-1" aria-labelledby="mceu_1" role="button"
                                                        aria-label="Redo" aria-disabled="true"><button
                                                            role="presentation" type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-redo"></i></button></div>
                                                </div>
                                            </div>
                                            <div id="mceu_28" class="mce-container mce-flow-layout-item mce-btn-group"
                                                role="group">
                                                <div id="mceu_28-body">
                                                    <div id="mceu_2"
                                                        class="mce-widget mce-btn mce-menubtn mce-first mce-last mce-btn-has-text"
                                                        tabindex="-1" aria-labelledby="mceu_2" role="button"
                                                        aria-haspopup="true"><button id="mceu_2-open"
                                                            role="presentation" type="button" tabindex="-1"><span
                                                                class="mce-txt">Formats</span> <i
                                                                class="mce-caret"></i></button></div>
                                                </div>
                                            </div>
                                            <div id="mceu_29" class="mce-container mce-flow-layout-item mce-btn-group"
                                                role="group">
                                                <div id="mceu_29-body">
                                                    <div id="mceu_3" class="mce-widget mce-btn mce-first" tabindex="-1"
                                                        aria-labelledby="mceu_3" role="button" aria-label="Bold"><button
                                                            role="presentation" type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-bold"></i></button></div>
                                                    <div id="mceu_4" class="mce-widget mce-btn mce-last" tabindex="-1"
                                                        aria-labelledby="mceu_4" role="button" aria-label="Italic">
                                                        <button role="presentation" type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-italic"></i></button></div>
                                                </div>
                                            </div>
                                            <div id="mceu_30" class="mce-container mce-flow-layout-item mce-btn-group"
                                                role="group">
                                                <div id="mceu_30-body">
                                                    <div id="mceu_5" class="mce-widget mce-btn mce-first" tabindex="-1"
                                                        aria-labelledby="mceu_5" role="button" aria-label="Align left">
                                                        <button role="presentation" type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-alignleft"></i></button></div>
                                                    <div id="mceu_6" class="mce-widget mce-btn" tabindex="-1"
                                                        aria-labelledby="mceu_6" role="button"
                                                        aria-label="Align center"><button role="presentation"
                                                            type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-aligncenter"></i></button></div>
                                                    <div id="mceu_7" class="mce-widget mce-btn" tabindex="-1"
                                                        aria-labelledby="mceu_7" role="button" aria-label="Align right">
                                                        <button role="presentation" type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-alignright"></i></button></div>
                                                    <div id="mceu_8" class="mce-widget mce-btn mce-last" tabindex="-1"
                                                        aria-labelledby="mceu_8" role="button" aria-label="Justify">
                                                        <button role="presentation" type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-alignjustify"></i></button></div>
                                                </div>
                                            </div>
                                            <div id="mceu_31" class="mce-container mce-flow-layout-item mce-btn-group"
                                                role="group">
                                                <div id="mceu_31-body">
                                                    <div id="mceu_9" class="mce-widget mce-btn mce-first" tabindex="-1"
                                                        aria-labelledby="mceu_9" role="button"
                                                        aria-label="Insert/edit link"><button role="presentation"
                                                            type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-link"></i></button></div>
                                                    <div id="mceu_10" class="mce-widget mce-btn mce-last" tabindex="-1"
                                                        aria-labelledby="mceu_10" role="button"
                                                        aria-label="Insert/edit image"><button role="presentation"
                                                            type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-image"></i></button></div>
                                                </div>
                                            </div>
                                            <div id="mceu_32" class="mce-container mce-flow-layout-item mce-btn-group"
                                                role="group">
                                                <div id="mceu_32-body">
                                                    <div id="mceu_11" class="mce-widget mce-btn mce-first" tabindex="-1"
                                                        aria-labelledby="mceu_11" role="button" aria-label="Print">
                                                        <button role="presentation" type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-print"></i></button></div>
                                                    <div id="mceu_12" class="mce-widget mce-btn" tabindex="-1"
                                                        aria-labelledby="mceu_12" role="button" aria-label="Preview">
                                                        <button role="presentation" type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-preview"></i></button></div>
                                                    <div id="mceu_13" class="mce-widget mce-btn mce-last" tabindex="-1"
                                                        aria-labelledby="mceu_13" role="button"
                                                        aria-label="Insert/edit video"><button role="presentation"
                                                            type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-media"></i></button></div>
                                                </div>
                                            </div>
                                            <div id="mceu_33"
                                                class="mce-container mce-flow-layout-item mce-last mce-btn-group"
                                                role="group">
                                                <div id="mceu_33-body">
                                                    <div id="mceu_14"
                                                        class="mce-widget mce-btn mce-colorbutton mce-first"
                                                        role="button" tabindex="-1" aria-haspopup="true"
                                                        aria-label="Text color"><button role="presentation"
                                                            hidefocus="1" type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-forecolor"></i><span
                                                                id="mceu_14-preview"
                                                                class="mce-preview"></span></button><button
                                                            type="button" class="mce-open" hidefocus="1" tabindex="-1">
                                                            <i class="mce-caret"></i></button></div>
                                                    <div id="mceu_15" class="mce-widget mce-btn mce-colorbutton"
                                                        role="button" tabindex="-1" aria-haspopup="true"
                                                        aria-label="Background color"><button role="presentation"
                                                            hidefocus="1" type="button" tabindex="-1"><i
                                                                class="mce-ico mce-i-backcolor"></i><span
                                                                id="mceu_15-preview"
                                                                class="mce-preview"></span></button><button
                                                            type="button" class="mce-open" hidefocus="1" tabindex="-1">
                                                            <i class="mce-caret"></i></button></div>
                                                    <div id="mceu_16" class="mce-widget mce-btn mce-last" tabindex="-1"
                                                        aria-labelledby="mceu_16" role="button" aria-label="Emoticons"
                                                        aria-haspopup="true"><button role="presentation" type="button"
                                                            tabindex="-1"><i
                                                                class="mce-ico mce-i-emoticons"></i></button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="mceu_34" class="mce-edit-area mce-container mce-panel mce-stack-layout-item"
                                hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px;"><iframe
                                    id="description_ifr" frameborder="0" allowtransparency="true"
                                    title="Rich Text Area. Press ALT-F9 for menu. Press ALT-F10 for toolbar. Press ALT-0 for help"
                                    src="javascript:&quot;&quot;"
                                    style="width: 100%; height: 150px; display: block;"></iframe></div>
                            <div id="mceu_35"
                                class="mce-statusbar mce-container mce-panel mce-stack-layout-item mce-last"
                                hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px;">
                                <div id="mceu_35-body" class="mce-container-body mce-flow-layout">
                                    <div id="mceu_36" class="mce-path mce-flow-layout-item mce-first">
                                        <div role="button" class="mce-path-item mce-last" data-index="0" tabindex="-1"
                                            id="mceu_36-0" aria-level="0">p</div>
                                    </div><span id="mceu_38"
                                        class="mce-wordcount mce-widget mce-label mce-flow-layout-item">Words: 0</span>
                                    <div id="mceu_37" class="mce-flow-layout-item mce-resizehandle mce-last"><i
                                            class="mce-ico mce-i-resize"></i></div>
                                </div>
                            </div>
                        </div>
                    </div><textarea name="description" class="form-control tinymce" placeholder="Description" rows="7"
                        id="description" aria-hidden="true" style="display: none;"></textarea>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-offset-3 col-sm-6">
                    <div class="ui buttons">
                        <button type="reset" class="ui button">Reset</button>
                        <div class="or"></div>
                        <button class="ui positive button">Send</button>
                    </div>
                </div>
            </div>

        </form>


    </div>
</div>