
        <form action="https://hospitalnew.bdtask.com/demo7/appointment/create" class="form-inner" method="post"
            accept-charset="utf-8">
            <input type="hidden" name="csrf_stream_token" value="2f8edb916b1acaf6aa9af44ca4c08f57">


            <!-- patient id -->
            <div class="form-group row">
                <label for="patient_id" class="col-xs-3 col-form-label">Patient ID <i class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <input name="patient_id" autocomplete="off" type="text" class="form-control" id="patient_id"
                        placeholder="Patient ID" value="">
                    <span></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="department_id" class="col-xs-3 col-form-label">Department Name <i
                        class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <select name="department_id" class="form-control select2-hidden-accessible" id="department_id"
                        tabindex="-1" aria-hidden="true">
                        <option value="" selected="selected">Select Department</option>
                        <option value="13">Neonatal</option>
                        <option value="14">Nephrology</option>
                        <option value="15">Neurology</option>
                        <option value="16">Oncology</option>
                        <option value="18">Pharmacy</option>
                        <option value="19">Radiotherapy</option>
                        <option value="22">Gynaecology</option>
                        <option value="27">Department1</option>
                        <option value="29">X-Rays</option>
                        <option value="30">contator</option>
                        <option value="36">ANDROSCOPY</option>
                        <option value="40">Amit Department</option>
                        <option value="41">Dental</option>
                        <option value="42">sony</option>
                        <option value="50">Ambulance</option>
                        <option value="51">X-Ray Dept</option>
                        <option value="52">Surgical</option>
                        <option value="53">NICU</option>
                        <option value="54">New Medical</option>
                        <option value="59">Medicine</option>
                        <option value="63">Pharmacy</option>
                        <option value="64">ruchi</option>
                        <option value="65">Laboratorio</option>
                        <option value="66">Architect</option>
                        <option value="67">Love</option>
                        <option value="69">Abdulmutalib Idris</option>
                        <option value="71">spectrum</option>
                        <option value="72">skjsdklfjs</option>
                        <option value="73">pilates</option>
                        <option value="74">nefes egzersizleri</option>
                        <option value="75">Finance</option>
                        <option value="78">Bank</option>
                        <option value="80">cornea transplant</option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr"
                        style="width: 552.75px;"><span class="selection"><span
                                class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                                aria-expanded="false" tabindex="0"
                                aria-labelledby="select2-department_id-container"><span
                                    class="select2-selection__rendered" id="select2-department_id-container"><span
                                        class="select2-selection__placeholder">Select option</span></span><span
                                    class="select2-selection__arrow" role="presentation"><b
                                        role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                            aria-hidden="true"></span></span>
                    <span class="doctor_error"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="doctor_id" class="col-xs-3 col-form-label">Doctor Name <i class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <select name="doctor_id" class="form-control select2-hidden-accessible" id="doctor_id" tabindex="-1"
                        aria-hidden="true">
                        <option value="0"></option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr"
                        style="width: 552.75px;"><span class="selection"><span
                                class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                                aria-expanded="false" tabindex="0" aria-labelledby="select2-doctor_id-container"><span
                                    class="select2-selection__rendered" id="select2-doctor_id-container" title=""><span
                                        class="select2-selection__clear">×</span></span><span
                                    class="select2-selection__arrow" role="presentation"><b
                                        role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                            aria-hidden="true"></span></span>
                    <div id="available_days"></div>
                </div>
            </div>

            <div class="form-group row">
                <label for="date" class="col-xs-3 col-form-label">Appointment Date <i class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <input name="date" type="text" class="datepicker-avaiable-days form-control hasDatepicker" id="date"
                        placeholder="Appointment Date" autocpmplete="off">
                </div>
            </div>


            <div class="form-group row">
                <label for="serial_no" class="col-xs-3 col-form-label">Serial No <i class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <div id="serial_preview">
                        <div type="button" class="btn btn-success disabled btn-sm"> 01</div>
                        <div type="button" class="btn btn-success disabled btn-sm"> 02</div>
                        <div type="button" class="btn btn-success disabled btn-sm"> 03</div>...
                        <div type="button" class="slbtn btn btn-success disabled btn-sm"> N</div>

                    </div>
                    <input type="hidden" name="schedule_id" id="schedule_id">
                    <input type="hidden" name="serial_no" id="serial_no">
                </div>
            </div>

            <div class="form-group row">
                <label for="problem" class="col-xs-3 col-form-label">Problem</label>
                <div class="col-xs-9">
                    <textarea name="problem" class="form-control" placeholder="Problem" maxlength="140"
                        rows="7"></textarea>
                </div>
            </div>

            
            <div class="form-group row">
                <label class="col-xs-3">Status</label>
                <div class="col-xs-9">
                    <div class="form-check">
                        <label class="radio-inline">
                            <input type="radio" name="status" value="1" checked="&quot;checked&quot;">Active </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="0">Inactive </label>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="  ">
                    <div class="btn btn-primarys">
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <div class="or"></div>
                        <button class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>

        </form>


