<form  class="form-inner" enctype="multipart/form-data"
method="post" accept-charset="utf-8">
<input type="hidden" name="csrf_stream_token" value="2f8edb916b1acaf6aa9af44ca4c08f57">



<input type="hidden" name="user_id" value="">

<div class="form-group row">
    <label for="firstname" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Prénom </font>
        </font><i class="text-danger">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">*</font>
            </font>
        </i>
    </label>
    <div class="col-xs-9">
        <input name="firstname" type="text" class="form-control" id="firstname" placeholder="Prénom" value="">
    </div>
</div>

<div class="form-group row">
    <label for="lastname" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Nom de famille </font>
        </font><i class="text-danger">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">*</font>
            </font>
        </i>
    </label>
    <div class="col-xs-9">
        <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Nom de famille" value="">
    </div>
</div>

<!-- display in edit mode -->
<div class="form-group row">
    <label for="email" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Adresse e-mail </font>
        </font><i class="text-danger">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">*</font>
            </font>
        </i>
    </label>
    <div class="col-xs-9">
        <input name="email" class="form-control" type="email" placeholder="Adresse e-mail" id="email" value="">
    </div>
</div>

<div class="form-group row">
    <label for="password" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Mot de passe </font>
        </font><i class="text-danger">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">*</font>
            </font>
        </i>
    </label>
    <div class="col-xs-9">
        <input name="password" class="form-control" type="password" placeholder="Mot de passe" id="password">
    </div>
</div>
<!-- ends of display edit mode-->


<div class="form-group row">
    <label for="designation" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">La désignation</font>
        </font>
    </label>
    <div class="col-xs-9">
        <input name="designation" type="text" class="form-control" id="designation" placeholder="La désignation"
            value="">
    </div>
</div>

<div class="form-group row">
    <label for="department_id" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">département </font>
        </font>
    </label>
    <div class="col-xs-9">
        <select name="department_id" class="form-control select2-hidden-accessible" id="department_id" tabindex="-1"
            aria-hidden="true">
            <option value="" selected="selected">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Sélectionnez un département</font>
                </font>
            </option>
            <option value="13">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Néonatale</font>
                </font>
            </option>
            <option value="14">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Néphrologie</font>
                </font>
            </option>
            <option value="15">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Neurologie</font>
                </font>
            </option>
            <option value="16">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Oncologie</font>
                </font>
            </option>
            <option value="18">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Pharmacie</font>
                </font>
            </option>
            <option value="19">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Radiothérapie</font>
                </font>
            </option>
            <option value="22">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Gynécologie</font>
                </font>
            </option>
            <option value="27">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Département1</font>
                </font>
            </option>
            <option value="29">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Rayons X</font>
                </font>
            </option>
            <option value="30">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">contateur</font>
                </font>
            </option>
            <option value="36">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">ANDROSCOPIE</font>
                </font>
            </option>
            <option value="40">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Département Amit</font>
                </font>
            </option>
            <option value="41">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Dentaire</font>
                </font>
            </option>
            <option value="42">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Sony</font>
                </font>
            </option>
            <option value="50">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Ambulance</font>
                </font>
            </option>
            <option value="51">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Département de rayons X</font>
                </font>
            </option>
            <option value="52">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Chirurgical</font>
                </font>
            </option>
            <option value="53">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">NICU</font>
                </font>
            </option>
            <option value="54">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Nouveau médical</font>
                </font>
            </option>
            <option value="59">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Médicament</font>
                </font>
            </option>
            <option value="63">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Pharmacie</font>
                </font>
            </option>
            <option value="64">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">ruchi</font>
                </font>
            </option>
            <option value="65">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Laboratorio</font>
                </font>
            </option>
            <option value="66">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Architecte</font>
                </font>
            </option>
            <option value="67">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">L'amour</font>
                </font>
            </option>
            <option value="69">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Abdulmutalib Idris</font>
                </font>
            </option>
            <option value="71">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">spectre</font>
                </font>
            </option>
            <option value="72">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">skjsdklfjs</font>
                </font>
            </option>
            <option value="73">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Pilates</font>
                </font>
            </option>
            <option value="74">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">nefes egzersizleri</font>
                </font>
            </option>
            <option value="75">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">La finance</font>
                </font>
            </option>
            <option value="78">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Banque</font>
                </font>
            </option>
            <option value="80">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">greffe de cornée</font>
                </font>
            </option>
        </select><span class="select2 select2-container select2-container--default" dir="ltr"
            style="width: 552.75px;"><span class="selection"><span
                    class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                    aria-expanded="false" tabindex="0" aria-labelledby="select2-department_id-container"><span
                        class="select2-selection__rendered" id="select2-department_id-container"><span
                            class="select2-selection__placeholder">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sélectionnez l'option</font>
                            </font>
                        </span></span><span class="select2-selection__arrow" role="presentation"><b
                            role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                aria-hidden="true"></span></span>
    </div>
</div>

<div class="form-group row">
    <label for="address" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Adresse </font>
        </font><i class="text-danger">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">*</font>
            </font>
        </i>
    </label>
    <div class="col-xs-9">
        <textarea name="address" class="form-control" placeholder="Adresse" maxlength="140" rows="7"
            id="address"></textarea>
    </div>
</div>

<div class="form-group row">
    <label for="phone" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Pas de téléphone</font>
        </font>
    </label>
    <div class="col-xs-9">
        <input name="phone" class="form-control" type="number" placeholder="Pas de téléphone" id="phone" value="">
    </div>
</div>

<div class="form-group row">
    <label for="mobile" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Mobile Non </font>
        </font><i class="text-danger">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">*</font>
            </font>
        </i>
    </label>
    <div class="col-xs-9">
        <input name="mobile" class="form-control" type="number" placeholder="Mobile Non" id="mobile" value="">
    </div>
</div>




<!-- if representative picture is already uploaded -->

<div class="form-group row">
    <label for="picture" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Image</font>
        </font>
    </label>
    <div class="col-xs-9">
        <input type="file" name="picture" id="picture" value="">
        <input type="hidden" name="old_picture" value="">
    </div>
</div>

<div class="form-group row">
    <label for="specialist" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Spécialiste</font>
        </font>
    </label>
    <div class="col-xs-9">
        <input type="text" name="specialist" class="form-control" placeholder="Spécialiste" id="specialist"
            value="">
    </div>
</div>

<div class="form-group row">
    <label for="date_of_birth" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Date de naissance</font>
        </font>
    </label>
    <div class="col-xs-9">
        <input name="date_of_birth" class="dropdown-month-years form-control hasDatepicker" type="text"
            placeholder="Date de naissance" id="date_of_birth" value="2020-12-18">
    </div>
</div>

<div class="form-group row">
    <label class="col-md-3">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Sexe </font>
        </font><i class="text-danger">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">*</font>
            </font>
        </i>
    </label>
    <div class="col-xs-9">
        <div class="form-check">
            <label class="radio-inline">
                <input type="radio" name="sex" value="Male" checked="&quot;checked&quot;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Masculin </font>
                </font>
            </label>
            <label class="radio-inline">
                <input type="radio" name="sex" value="Female">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Femme </font>
                </font>
            </label>
        </div>
    </div>
</div>

<div class="form-group row">
    <label for="blood_group" class="col-md-3 col-form-label">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Groupe sanguin</font>
        </font>
    </label>
    <div class="col-xs-9">
        <select name="blood_group" class="form-control select2-hidden-accessible" id="blood_group" tabindex="-1"
            aria-hidden="true">
            <option value="" selected="selected">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Sélectionnez une option</font>
                </font>
            </option>
            <option value="A+">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">A +</font>
                </font>
            </option>
            <option value="A-">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">UNE-</font>
                </font>
            </option>
            <option value="B+">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">B +</font>
                </font>
            </option>
            <option value="B-">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">B-</font>
                </font>
            </option>
            <option value="O+">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">O +</font>
                </font>
            </option>
            <option value="O-">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">O-</font>
                </font>
            </option>
            <option value="AB+">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">AB +</font>
                </font>
            </option>
            <option value="AB-">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">UN B-</font>
                </font>
            </option>
        </select><span class="select2 select2-container select2-container--default" dir="ltr"
            style="width: 552.75px;"><span class="selection"><span
                    class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                    aria-expanded="false" tabindex="0" aria-labelledby="select2-blood_group-container"><span
                        class="select2-selection__rendered" id="select2-blood_group-container"><span
                            class="select2-selection__placeholder">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Sélectionnez l'option</font>
                            </font>
                        </span></span><span class="select2-selection__arrow" role="presentation"><b
                            role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                aria-hidden="true"></span></span>
    </div>
</div>




<div class="form-group row">
    <label class="col-md-3">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Statut</font>
        </font>
    </label>
    <div class="col-xs-9">
        <div class="form-check">
            <label class="radio-inline">
                <input type="radio" name="status" value="1" checked="&quot;checked&quot;">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">actif </font>
                </font>
            </label>
            <label class="radio-inline">
                <input type="radio" name="status" value="0">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Inactif </font>
                </font>
            </label>
        </div>
    </div>
</div>

            <button type="reset" class="btn btn-secondary">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Réinitialiser</font>
                </font>
            </button>
            
            <button class="btn btn-success">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Sauvegarder</font>
                </font>
            </button>
   
</form>
   

  