<form class="form-inner" enctype="multipart/form-data" accept-charset="utf-8">
  <div class="form-group row">
    <label for="firstname" class="col-md-3 col-form-label">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">Name </font> </font
      ><i class="text-danger">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">*</font>
        </font>
      </i>
    </label>
    <div class="col-md-6">
      <input
        name="firstname"
        [(ngModel)]="model.firstname"
        type="text"
        class="form-control"
        id="firstname"
        placeholder="Prénom"
      />
    </div>
  </div>

  <div class="form-group row">
    <label for="lastname" class="col-md-3 col-form-label">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">Family Name</font> </font
      ><i class="text-danger">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">*</font>
        </font>
      </i>
    </label>
    <div class="col-md-6">
      <input
        name="lastname"
        value="{{ model.lastname }}"
        [(ngModel)]="model.lastname"
        type="text"
        class="form-control"
        id="lastname"
        placeholder="Nom de famille"
        value=""
      />
    </div>
  </div>

  <!-- display in edit mode -->
  <div class="form-group row">
    <label for="email" class="col-md-3 col-form-label">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">Email </font> </font
      ><i class="text-danger">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">*</font>
        </font>
      </i>
    </label>
    <div class="col-md-6">
      <input
        name="email"
        value="{{ model.email }}"
        [(ngModel)]="model.email"
        class="form-control"
        type="email"
        placeholder="Adresse e-mail"
        id="email"
      />
    </div>
  </div>

  <!-- ends of display edit mode-->

  <div class="form-group row">
    <label for="designation" class="col-md-3 col-form-label">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">Designation</font>
      </font>
    </label>
    <div class="col-md-6">
      <input
        name="designation"
        [(ngModel)]="model.designation"
        type="text"
        class="form-control"
        id="designation"
        placeholder="La désignation"
      />
    </div>
  </div>

  <div class="form-group row">
    <label for="departement_id" class="col-md-3 col-form-label">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">Departement </font>
      </font>
    </label>
    <div class="col-md-6">
      <select
        value="{{ model.departement_id }}"
        [(ngModel)]="model.departement_id"
        name="departement_id"
        class="form-control select2-hidden-accessible"
        id="departement_id"
        tabindex="-1"
        aria-hidden="true"
      >
        <option *ngFor="let c of departements$" value="{{ c.id }}">
          {{ c.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="address" class="col-md-3 col-form-label">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">Address </font> </font
      ><i class="text-danger">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">*</font>
        </font>
      </i>
    </label>
    <div class="col-md-6">
      <textarea
        name="address"
        value="{{ model.address }}"
        [(ngModel)]="model.address"
        class="form-control"
        placeholder="Adresse"
        maxlength="140"
        rows="7"
        id="address"
      ></textarea>
    </div>
  </div>

  <div class="form-group row">
    <label for="phone" class="col-md-3 col-form-label">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">Telephone</font>
      </font>
    </label>
    <div class="col-md-6">
      <input
        name="phone"
        value="{{ model.phone }}"
        [(ngModel)]="model.phone"
        class="form-control"
        type="number"
        placeholder="Pas de téléphone"
        id="phone"
        value=""
      />
    </div>
  </div>

  <!-- if representative picture is already uploaded -->

  <div class="form-group row">
    <label for="picture" class="col-md-3 col-form-label">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">Image</font>
      </font>
    </label>
    <div class="col-md-6">
      <input type="file" name="picture" id="picture" value="" />
      <input type="hidden" name="old_picture" value="" />
    </div>
  </div>

  <div class="form-group row">
    <label for="date_of_birth" class="col-md-3 col-form-label">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">Date de naissance</font>
      </font>
    </label>
    <div class="col-md-6">
      <input
        name="date_of_birth"
        class="dropdown-month-years form-control hasDatepicker"
        type="text"
        formControlName="date_of_birth"
        placeholder="Date de naissance"
        id="date_of_birth"
        [(ngModel)]="model.date_of_birth"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">Sexe </font> </font
      ><i class="text-danger">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">*</font>
        </font>
      </i>
    </label>
    <div class="col-md-6">
      <div class="form-check">
        <label class="radio-inline">
          <input type="radio" name="sex" value="Male" checked='"checked"' />
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Masculin </font>
          </font>
        </label>
        <label class="radio-inline">
          <input type="radio" name="sex" value="Female" />
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Femme </font>
          </font>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="blood_group" class="col-md-3 col-form-label">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">Groupe sanguin</font>
      </font>
    </label>
    <div class="col-md-6">
      <select
        name="blood_group"
        class="form-control select2-hidden-accessible"
        id="blood_group"
        [(ngModel)]="model.blood_group"
        tabindex="-1"
        aria-hidden="true"
      >
        <option value="A+">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">A +</font>
          </font>
        </option>
        <option value="B+">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">B +</font>
          </font>
        </option>
        <option value="B-">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">B-</font>
          </font>
        </option>
        <option value="O+">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">O +</font>
          </font>
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">Status</font>
      </font>
    </label>
    <div class="col-md-6">
      <div class="form-check">
        <label class="radio-inline">
          <input type="radio" name="status" value="1" checked='"checked"' />
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">actif </font>
          </font>
        </label>
        <label class="radio-inline">
          <input type="radio" name="status" value="0" />
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Inactif </font>
          </font>
        </label>
      </div>
    </div>
  </div>

  <button (click)="edit()" class="btn btn-success">
    <font style="vertical-align: inherit">
      <font style="vertical-align: inherit">Save</font>
    </font>
  </button>
</form>
