<div class="card">
  <div class="card-header">
    <strong class="card-title">New</strong>
  </div>
  <div class="card-body">
    <form
      class="form-inner"
      method="post"
      accept-charset="utf-8"
      [formGroup]="bedForm"
    >
      <div class="form-group row">
        <label for="name" class="col-md-6 col-form-label">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Bed Number </font> </font
          ><i class="text-danger">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">*</font>
            </font>
          </i>
        </label>
        <div class="col-md-12">
          <input
            name="bedNumber"
            type="text"
            class="form-control"
            id="bedNumber"
            [ngClass]="{ 'is-invalid': submitted && f.bedNumber.errors }"
            formControlName="bedNumber"
            placeholder="bed Number"
            value=""
          />

          <div
            *ngIf="submitted && f.bedNumber.errors"
            class="alert alert-danger"
          >
            <div *ngIf="submitted && f.bedNumber.errors.required">
              {{ msg.validationMessage.bedNumber }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="bedType" class="col-md-6 col-form-label">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Bed Type</font>
          </font>
        </label>
        <div class="col-md-12">
          <select
            formControlName="bedType"
            name="category"
            value=""
            class="form-control"
          >
            <option *ngFor="let c of bedTypes$" value="{{ c.id }}">
              {{ c.bedType }}
            </option>
          </select>
          <div *ngIf="submitted && f.bedType.errors" class="alert alert-danger">
            <div *ngIf="submitted && f.bedType.errors.required">
              {{ msg.validationMessage.bedType }}
            </div>
          </div>
        </div>
      </div>

      <!--Radio-->

      <div class="form-group row">
        <label for="floor" class="col-md-6 col-form-label">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Floor</font>
          </font>
        </label>
        <div class="col-md-12">
          <input
            formControlName="floor"
            name="floor"
            class="form-control"
            placeholder="Floor"
            rows="7"
          />

          <div *ngIf="submitted && f.floor.errors" class="alert alert-danger">
            <div *ngIf="submitted && f.floor.errors.required">
              {{ msg.validationMessage.floor }}
            </div>
          </div>
        </div>
      </div>

      <button (click)="add()" class="btn btn-success">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">Save</font>
        </font>
      </button>
    </form>
  </div>
</div>
