<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">System</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Currency</th>
            <th>Name</th>
            <th>Version</th>
            <th>Language</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$</td>
            <td>LifeCare</td>
            <td>0.0.1</td>
            <td>English</td>
            <td>
              <button
                disabled
                title="career devis"
                data-togglee="tooltip"
                type="button"
                data-toggle="modal"
                data-target="#editClient"
                class="btn btn-success btn-sm"
              >
                <i class="fas fa-file-invoice"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Currency</th>
            <th>Name</th>
            <th>Version</th>
            <th>Language</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
