<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Schedules</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
    <table
      class="table table-bordered"
      id="dataTable"
      width="100%"
      cellspacing="0"
    >
      <thead>
        <tr>
          <th>Doctor</th>
          <th>Start</th>
          <th>End</th>
          <th>Status</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Doctor</th>
          <th>Start</th>
          <th>End</th>
          <th>Status</th>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let item of schedules$">
          <td>{{ item.doctor_id }}</td>
          <td>{{ item.start_time }}</td>
          <td>{{ item.end_time }}</td>
          <td>
            <span class="badge badge-success">{{ item.status }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
