
        <form action="https://hospitalnew.bdtask.com/demo7/patient/create" class="form-inner"
            enctype="multipart/form-data" method="post" accept-charset="utf-8">
            <input type="hidden" name="csrf_stream_token" value="2f8edb916b1acaf6aa9af44ca4c08f57">


            <input type="hidden" name="id" value="">

            <div class="form-group row">
                <label for="firstname" class="col-xs-3 col-form-label">First Name <i class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <input name="firstname" type="text" class="form-control" id="firstname" placeholder="First Name"
                        value="">
                </div>
            </div>

            <div class="form-group row">
                <label for="lastname" class="col-xs-3 col-form-label">Last Name <i class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Last Name"
                        value="">
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-xs-3 col-form-label">Email Address <i class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <input name="email" type="email" class="form-control" id="email" placeholder="Email Address"
                        value="">
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-xs-3 col-form-label">Password <i class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>

            <div class="form-group row">
                <label for="phone" class="col-xs-3 col-form-label">Phone No</label>
                <div class="col-xs-9">
                    <input name="phone" class="form-control" type="number" placeholder="Phone No" id="phone" value="">
                </div>
            </div>

            <div class="form-group row">
                <label for="mobile" class="col-xs-3 col-form-label">Mobile No <i class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <input name="mobile" class="form-control" type="number" placeholder="Mobile No" id="mobile"
                        value="">
                </div>
            </div>

            <div class="form-group row">
                <label for="blood_group" class="col-xs-3 col-form-label">Blood Group</label>
                <div class="col-xs-9">
                    <select name="blood_group" class="form-control select2-hidden-accessible" id="blood_group"
                        tabindex="-1" aria-hidden="true">
                        <option value="" selected="selected">Select Option</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr"
                        style="width: 552.75px;"><span class="selection"><span
                                class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                                aria-expanded="false" tabindex="0" aria-labelledby="select2-blood_group-container"><span
                                    class="select2-selection__rendered" id="select2-blood_group-container"><span
                                        class="select2-selection__placeholder">Select option</span></span><span
                                    class="select2-selection__arrow" role="presentation"><b
                                        role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                            aria-hidden="true"></span></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-xs-3">Sex <i class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <div class="form-check">
                        <label class="radio-inline">
                            <input type="radio" name="sex" value="Male" checked="&quot;checked&quot;">Male </label>
                        <label class="radio-inline">
                            <input type="radio" name="sex" value="Female">Female </label>
                        <label class="radio-inline">
                            <input type="radio" name="sex" value="Other">Other </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="date_of_birth" class="col-xs-3 col-form-label">Date of Birth <i
                        class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <input name="date_of_birth" class="dropdown-month-years form-control hasDatepicker" type="text"
                        placeholder="Date of Birth" id="date_of_birth" value="2020-12-18">
                </div>
            </div>

            <!-- if patient picture is already uploaded -->

            <div class="form-group row">
                <label for="picture" class="col-xs-3 col-form-label">Picture</label>
                <div class="col-xs-9">
                    <input type="file" name="picture" id="picture" value="">
                    <input type="hidden" name="old_picture" value="">
                </div>
            </div>

            <div class="form-group row">
                <label for="address" class="col-xs-3 col-form-label">Address <i class="text-danger">*</i></label>
                <div class="col-xs-9">
                    <textarea name="address" class="form-control" placeholder="Address" maxlength="140"
                        rows="7"></textarea>
                </div>
            </div>

            
            <div class="form-group row">
                <label class="col-xs-3">Status</label>
                <div class="col-xs-9">
                    <div class="form-check">
                        <label class="radio-inline">
                            <input type="radio" name="status" value="1" checked="&quot;checked&quot;">Active </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="0">Inactive </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-offset-3 col-sm-6">
                    <div class="ui buttons">
                        <button type="reset" class="ui button">Reset</button>
                        <div class="or"></div>
                        <button class="ui positive button">Save</button>
                    </div>
                </div>
            </div>
        </form>

