<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Documents</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <div *ngIf="loading; else loaded">
        <app-loading></app-loading>
      </div>

      <ng-template #loaded>
        <table
          width="100%"
          class="datatable table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
          id="DataTables_Table_0"
          role="grid"
          style="width: 100%"
        >
          <thead>
            <tr role="row">
              <th>
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">Patient</font>
                </font>
              </th>
              <th>
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">Doctor</font>
                </font>
              </th>
              <th>
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">action</font>
                </font>
              </th>
            </tr>
          </thead>
          <tfoot>
            <tr role="row">
              <th>
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">Patient</font>
                </font>
              </th>
              <th>
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">Doctor</font>
                </font>
              </th>
              <th>
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">action</font>
                </font>
              </th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let item of documents$">
              <td>
                {{ item.patient_id }}
              </td>
              <td>
                {{ item.doctor_id }}
              </td>
              <td>
                <button
                  data-toggle="modal"
                  data-target="#view"
                  type="button"
                  class="btn btn-primary btn-sm"
                >
                  <i class="fas fa-address-book"></i>
                </button>
                <button
                  data-toggle="modal"
                  data-target="#edit"
                  type="button"
                  (click)="edit(item.id)"
                  class="btn btn-warning btn-sm"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="delete(item.id)"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div
          class="modal fade"
          id="edit"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-dialog-centered modal-lg"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  {{ categoryI18n?.addButtonI18n }}
                </h5>
                <button
                  type="button"
                  id="close"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <app-edit-document [id]="id"></app-edit-document>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
