<div class="card">
  <div class="card-header">
    <strong class="card-title">New</strong>
  </div>
  <div class="card-body">
    <form
      class="form-inner"
      enctype="multipart/form-data"
      method="post"
      [formGroup]="patientForm"
      accept-charset="utf-8"
    >
      <div class="form-group row">
        <label for="firstname" class="col-xs-3 col-form-label">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">First Name</font> </font
          ><i class="text-danger">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">*</font>
            </font>
          </i>
        </label>
        <div class="col-md-12">
          <input
            name="FirstName"
            type="text"
            class="form-control"
            id="firstname"
            [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
            formControlName="firstname"
            placeholder="First Name"
            value=""
          />

          <div
            *ngIf="submitted && f.firstname.errors"
            class="alert alert-danger"
          >
            <div *ngIf="submitted && f.firstname.errors.required">
              {{ msg.validationMessage.firstname }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="lastname" class="col-xs-3 col-form-label">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Last Name </font> </font
          ><i class="text-danger">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">*</font>
            </font>
          </i>
        </label>
        <div class="col-md-12">
          <input
            name="Last Name"
            type="text"
            class="form-control"
            id="lastname"
            [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
            formControlName="lastname"
            placeholder="Last Name"
            value=""
          />

          <div
            *ngIf="submitted && f.lastname.errors"
            class="alert alert-danger"
          >
            <div *ngIf="submitted && f.lastname.errors.required">
              {{ msg.validationMessage.lastname }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-xs-3 col-form-label">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Email </font> </font
          ><i class="text-danger">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">*</font>
            </font>
          </i>
        </label>
        <div class="col-md-12">
          <input
            name="email"
            type="email"
            class="form-control"
            id="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            formControlName="email"
            placeholder="Email"
            value=""
          />

          <div *ngIf="submitted && f.email.errors" class="alert alert-danger">
            <div *ngIf="submitted && f.email.errors.required">
              {{ msg.validationMessage.email }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="phone" class="col-xs-3 col-form-label">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Telephone</font>
          </font>
        </label>
        <div class="col-md-12">
          <input
            name="Telephone"
            class="form-control"
            type="number"
            placeholder="Telephone"
            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
            formControlName="phone"
            id="phone"
            value=""
          />
          <div *ngIf="submitted && f.phone.errors" class="alert alert-danger">
            <div *ngIf="submitted && f.phone.errors.required">
              {{ msg.validationMessage.phone }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="blood_group" class="col-xs-3 col-form-label">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Blood Group</font>
          </font>
        </label>
        <div class="col-md-12">
          <select
            name="bloodGroup"
            class="form-control select2-hidden-accessible"
            id="blood_group"
            [ngClass]="{ 'is-invalid': submitted && f.blood_group.errors }"
            formControlName="bloodGroup"
            tabindex="-1"
            aria-hidden="true"
          >
            <option *ngFor="let c of bloodGroups$" value="{{ c.id }}">
              {{ c.name }}
            </option>
          </select>

          <div
            *ngIf="submitted && f.blood_group.errors"
            class="alert alert-danger"
          >
            <div *ngIf="submitted && f.blood_group.errors.required">
              {{ msg.validationMessage.blood_group }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-3">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Gender </font> </font
          ><i class="text-danger">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">*</font>
            </font>
          </i>
        </label>
        <div class="col-md-12">
          <div class="form-check">
            <label class="radio-inline">
              <input
                formControlName="sex"
                type="radio"
                name="sex"
                value="Male"
                checked="checked"
                checked
              />
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">Male </font>
              </font>
            </label>
            <label class="radio-inline">
              <input
                formControlName="sex"
                type="radio"
                name="sex"
                value="Female"
              />
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">Female </font>
              </font>
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="date_of_birth" class="col-xs-3 col-form-label">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Birth Date </font> </font
          ><i class="text-danger">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">*</font>
            </font>
          </i>
        </label>
        <div class="col-md-12">
          <input
            name="date_of_birth"
            class="dropdown-month-years form-control hasDatepicker"
            type="date"
            [ngClass]="{ 'is-invalid': submitted && f.date_of_birth.errors }"
            formControlName="date_of_birth"
            placeholder="Birth Date"
            id="date_of_birth"
            value="2021-01-19"
          />

          <div
            *ngIf="submitted && f.date_of_birth.errors"
            class="alert alert-danger"
          >
            <div *ngIf="submitted && f.date_of_birth.errors.required">
              {{ msg.validationMessage.date_of_birth }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="picture" class="col-xs-3 col-form-label">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Image</font>
          </font>
        </label>
        <div class="col-md-12">
          <input type="file" name="picture" id="picture" value="" />
          <input type="hidden" name="old_picture" value="" />
        </div>
      </div>

      <div class="form-group row">
        <label for="address" class="col-xs-3 col-form-label">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Address </font> </font
          ><i class="text-danger">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">*</font>
            </font>
          </i>
        </label>
        <div class="col-md-12">
          <input
            name="address"
            class="form-control"
            placeholder="Address"
            maxlength="140"
            [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
            formControlName="address"
          />

          <div *ngIf="submitted && f.address.errors" class="alert alert-danger">
            <div *ngIf="submitted && f.address.errors.required">
              {{ msg.validationMessage.address }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-xs-3">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Status</font>
          </font>
        </label>
        <div class="col-md-12">
          <div class="form-check">
            <label class="radio-inline">
              <input
                formControlName="status"
                type="radio"
                name="status"
                value="1"
                checked="checked"
                checked
              />
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">Active </font>
              </font>
            </label>
            <label class="radio-inline">
              <input
                formControlName="status"
                type="radio"
                name="status"
                value="0"
              />
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">Inactive </font>
              </font>
            </label>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div>
            <button (click)="add()" class="btn btn-success">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit"
                  ><i class="fas fa-check"></i> Save</font
                >
              </font>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
