<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Inventories</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-body">
    <table
      class="table table-bordered"
      id="dataTable"
      width="100%"
      cellspacing="0"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Item Category</th>
          <th>Unit</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Item Category</th>
          <th>Unit</th>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let item of inventories$">
          <td>{{ item.name }}</td>
          <td>{{ item.itemCategory }}</td>
          <td>{{ item.unit }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
